.Nav {
    width: 100%;
    height: 60px;
    /* background-color: white; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    /* font-family: 'Josefin Sans', sans-serif; */
    z-index: 999;
    background-color: rgba(244, 244, 244, 0.43);
    backdrop-filter: blur(10px);
}

.topleft,
.topright {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topcenter {
    flex: 6;

}

.SocialLinks {
    font-size: 23px;
    margin-right: 21px;
    color: #01B69B;
    cursor: pointer;
}


.Logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.NavBarList {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;

}

.NavLink {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 370;
    cursor: pointer;
}

.NavBox{
    color: black;
    padding: 5px 12px;
    border-radius: 7px;
    transition: .2s;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.NavBox:hover{
    background-color: rgb(217, 217, 217);
}

.instaLogo{
    transition: .2s ease;
    margin-right: 0px;
}
.fbLogo{
    transition: .2s ease;  
}
.discordLogo{
    transition: .2s ease;
}
ion-icon{
    transition: .2s ease;
}
ion-icon{
    font-size: 23px;
    margin-right: 21px;
    color: #01B69B;
    cursor: pointer;
}
.instaLogo:hover{
    color: #b60143;
}
.fbLogo:hover{
    color: #255fde;
}
ion-icon:hover{
    color: #2d64bc
}


.SearchIcon {
    font-size: 20px;
    color: #7CDACB;
    cursor: pointer;
    margin-left: 15px;
}


@media screen and (max-width:900px) {

    .Nav {
        display: flex;
        flex-direction: column-reverse;
        /* height: 300px; */
        height: fit-content;
        
    }
    .NavBox{
        text-align: center;
        font-size: 23px;
    }

    .NavBarList {
        display: flex;
        flex-direction: column;
    }

    .topleft{
        display:none;
    }
    .topcenter{
        display: none;
    }

    .SearchIcon {
        display: none;
    }

    .buger {
        display: flex;
        flex-direction: column;
        cursor: pointer;


    }

    .burgerLine {
        margin-bottom: 5px;
        height: 3px;
        width: 26px;
        background-color: rgb(167, 247, 219);
    }

    .topright {
        display: flex;
        width: 100%;
    }

    .Logo {
        margin-left: 110px;
        margin-right: 90px;
    }
    .SocialLinks{
        margin-top: 15px;
        margin-bottom: 15px;
    }

}