.switchButton{
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 320px;
    background-color: rgb(213, 213, 213);
    border-radius: 35px;
}

.leftButton{
    height: 70px;
    width: 165px;
    font-size: 29px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    border-radius: 35px;
    transition: all .2s ease-in;
    user-select: none;
}
.rightButton{
    height: 70px;
    width: 155px;
    font-size: 29px;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    transition: all .2s ease-in;
    user-select: none;
}

@media screen and (max-width:450px) {
    .switchButton {
        align-self: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 55px;
        width: 215px;
        background-color: rgb(213, 213, 213);
        border-radius: 35px;
    }

    .leftButton {
        height: 55px;
        width: 110px;
        font-size: 19px;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(50, 50, 50);
        border-radius: 35px;
        transition: all .2s ease-in;
        user-select: none;
    }

    .rightButton {
        height: 55px;
        width: 105px;
        font-size: 19px;
        cursor: pointer;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        transition: all .2s ease-in;
        user-select: none;
    }
}

@media screen and (min-width:600px) and (max-width:900px) {
    .switchButton {
        align-self: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 77px;
        width: 270px;
        background-color: rgb(213, 213, 213);
        border-radius: 40px;
    }

    .leftButton {
        height: 77px;
        width: 135px;
        font-size: 25px;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(50, 50, 50);
        border-radius: 40px;
        transition: all .2s ease-in;
        user-select: none;
    }

    .rightButton {
        height: 77px;
        width: 135px;
        font-size: 26px;
        cursor: pointer;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        transition: all .2s ease-in;
        user-select: none;
    }
}


