.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamHeader{
    margin-top: 15px;
    margin-bottom: 3px;
}

.headerBox{
    user-select: none;
}

.underline{
    width: 120px;
    height: 3px;
    background-color: rgb(149, 250, 233);
    transition: .2s ease;
}

.profileCards{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: antiquewhite; */
    
}

.headerBox:hover + .underline{
    transform: scaleX(1.35);
}